rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }
    match /users/{userId} {
      allow get, create, update: if isUserAuthenticated(userId);
      match /notes/{noteId} {
        allow create, update: if isUserAuthenticated(userId) &&
          incomingData().size() == 3 &&
          incomingData().keys().hasAll(['title', 'body', 'created_at']) &&
          validateString(incomingData().title, 1, 50) &&
          validateString(incomingData().body, 1, 100000) &&
          incomingData().created_at is timestamp;
        allow read, delete: if isUserAuthenticated(userId);
      }
    }
  }
}